.btn-treehouse {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  background: #1EDD88;
  padding: 16px 36px;
  border-radius: 40px;
  transition: background 0.3s ease;
    /*transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;*/
}

.btn-treehouse:hover {
  background: #3AC161;
  text-decoration: none;
}
