.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.card {
  width: 200px;
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 5px #e6e6e6;
  border-radius: 3px;
}

.card img {
  height: 100px;
}

.card p {
  opacity: 0.5;
}
